[Unit]
Description=TUXEDO InfinityBook Gen10 Silent Fan Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/uniwill_ibg10_fanctl
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
